#Cards {
    border: 3px solid #d7d7d7;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 300px;
    width: 350px;
    max-width: 350px;
    
}

.ProjectName {
    color: black;
    font-size: 28px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.ProjectName:hover {
    text-decoration: underline;
    color: rgb(96, 116, 96);
}

img {
    height: 200px;
}

@media (max-width: 1293px) {
    .ProjectName {
        font-size: 20px;
    }
}

@media (max-width: 616px) {
    .ProjectName {
        font-size: 14px;
    }
}