#ProjectBody {
    background: ghostwhite;
}

#Projects {
    font-family: 'IBM Plex Serif', serif;
    margin-top: -20px;
    padding: 20px; 
}

@media (min-width: 1100px) {
    .container {
      padding: 0 100px;
      width: 1100px;
    }
  }