body {
    font-family: 'Montserrat', sans-serif;
}

#aboutMe {
    background: rgba(9, 44, 9, 0.178);
    margin-top: 150px;
    border-radius: 15px 50px;
}

#FAIcon {
    margin: 10px;
    color: black;
}

#FAIcon:hover {
    color: rgb(5, 69, 5);
}

#Contact {
    background: black;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    border-radius: 5px;
}

#Contact:hover {
    background: rgb(5, 69, 5);
    color: white;
}

#Name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#Web {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
}

p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
}

#modal1 {
    padding: 25px;
}

#ContactMeModal {
    
}

#Send {
    background: black;
    border-radius: 5px;
}

#Send:hover {
    background: rgb(5, 69, 5);
    color: white;
}

@media screen and (max-width: 670px) {
    p {
        color: whitesmoke;
    }
}