#backgroundImg {
    background: url(../images/grvm.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    color: rgb(10, 39, 10);
}

.no-shadows {
    box-shadow: none!important;
}

#Menu {
    font-family: 'IBM Plex Serif', serif;
}

li {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

@media screen and (max-width: 670px) {
    #backgroundImg {
        min-height: 500px;
    }
}