#aboutMe {
    background: rgba(9, 44, 9, 0.178);
    margin-top: 50px;
}

#FAIcon {
    margin: 10px;
    color: black;
}

#FAIcon:hover {
    color: rgb(5, 69, 5);
}

#Contact {
    background: black;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

#Contact:hover {
    background: rgb(5, 69, 5);
    color: white;
}

#Name {
    font-family: 'IBM Plex Serif', serif;
}

#Web {
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
}

p {
    font-size: 18px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: black;
}

@media screen and (max-width: 670px) {
    p {
        color: whitesmoke;
    }
}